html, body{
    height: 100%;
    position: relative;
}

footer {
    height: 40px;
    background: -webkit-linear-gradient(#4c69ba, #3b55a0);
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.wrap {
    position: relative;
}

.menu-crud {
    margin: 0 auto;
    width: 340px;
    margin-top: 30px;        
}

.welcome {
    margin: 0 auto;
    text-align: center;
}

#content {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 600px;
}

table,th,td {
	border:1px solid black;
}

form {
    margin: 0;
}

.db-ul {
    list-style: none;
    margin: 0;
    clear: both;
}

.db-ul li {
    float: left;    
    border: 1px solid black;
    width: 115px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.db-ul .li-form-del {
    border: none;
    width: 72px;
    margin-left: 10px;
}

.face-login-wrap {
    height: 40px;
    background: -webkit-linear-gradient(#4c69ba, #3b55a0);
}

.clear {
    clear: both;
}

.face-login-content {
    width: 145px;
    height: 40px;
    float: left;
}

.btn-menu-mobile {
    float: right;
    margin-top: 10px;
    margin-top: 7px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.menu-mobile-content {
    height: 35px;
    background: #4c69ba;
    display: none;
}

.menu-mobile-content a {
    color: #000;
}

.menu-mobile-content a {
    color: #fff;
}

.menu-mobile-content a:hover {
    color: #4c69ba;
}

@media only screen and (max-width : 320px) {
    .menu-crud {
        width: 300px;
    }
    .menu-crud li {
        float: none;
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .db-ul li {
        width: 55px;
        font-size: 8px;
    }
    .db-ul .li-form-del {
        margin: 0;
    }
    .db-ul-header li {
        padding-bottom: 10px;
    }
    .form-del {
        width: 60px;
    }
    .form-del .btn {
        width: 60px;
        font-size: 10px;
    }
    .btn-menu-mobile {
        display: block;
    }
    .modal {
        width: 275px;
        left: 97%;
    }
    .modal input{
        width: 65px;
    }
    #content {
        width: 300px;
    }
}
